<h3 class="titleplant" >Detail Plant</h3>
    <h1 class="subtitleplant" >{{info.name}}</h1>
    <h3 class="subtitle" >{{info.scientificName}}</h3>
    <p class="parrafocenter">{{info.origin}}</p>
    <p class="parrafocenter2">{{info.care}}</p>
    <p class="parrafocenter">{{info.place}}</p>
    {{!-- <a>{{info.image}}</a> --}}

    <img src="{{info.image}}" class="rounded mx-auto d-block" alt="..." width="360px"/>



<a type="button" href="/userProfile" class="btn btn-primary">Return Profile</a>

//8XtEkwjp6fMHKFUt
